/* navbar styling*/
.navbar-brand{
    margin-left: 10px;
    padding: 7px;
    background-color: rgb(85, 165, 165);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.navbar{
    max-height: 50px;  
    font-size: 17px; 
    background-color: ivory;
}


/* header styling*/
h2{
    color: rgb(85, 165, 165);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

h3{
    color: rgb(85, 165, 165);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

/* Colors */
body {background-color: teal;}

.col-md-12{
    background-color: ivory;
    padding-top: 10px;
    padding-bottom:40px;
}


/* image styling */
img{
    padding:10px;
    border: none;
    margin: auto;
}


/* Styling in smaller screen  */

@media (max-width: 500px) {
    body {
    background: purple;
    
}
}
